/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* Asterisk wildcard selector to override default browser settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic website style */
    color: white;
    font-family: "Amatic SC", sans-serif;
    font-size: larger;
}

h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

/* Header */
header {
    background-color: black;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px black; 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: .5em;
}

.active {
    border-bottom: 1px solid black;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black; 
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {

}

/* Main Content */
main {
    /* Make main element take up any extra space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section */
#hero {
    height: 636px;
    width: 100%;
    background: url("../images/dresden_skyline.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    font-size: medium;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding: 10px;
}

/* Bio section for Home page */
#bio-image-bg {
    background: url("../images/marble_archway.jpg") no-repeat top center / cover;
    height: 100vw;
    width: 100vw;
}

#bio-writeup {
    background-color: black;
    padding: 20px;
    text-align: justify;
    margin: 0;
}

/* Music section */
#music {
    
}

/* Contact section */
#contact {
    background: url("../images/vampire_apple_bite.jpg") no-repeat top center / cover;
    height: 872px;
    width: 100%;
}

#contact-form {
    color: red;
    background-color: rgba(62, 62, 62, 0.6);
    padding: 30px;
}

#contact-form>h2 {
    color: red;
    margin-bottom: 20px;
}

.text-input {
    /* background-color: rgba(60, 60, 60, 0.6);
    color: white; */
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid red;
    padding: 0 5px;
}

.join-button {
    margin-top: 17px;
    border-radius: 1px;
    color: red;
    background-color: white;
    font-size: 65%;
    border-color: red;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(167, 14, 14);
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: white;
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* margin-top: 79px; */
    }

    #cover-text {
        width: 500px;
        right: 50px;
    }

    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
    }
}

/* Media query for laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid white;
    }
}